<div class="tamano10"></div>
<div class="contenedor-pd center">
    <div class="contenedor-pd-second center">

        <div class="row">
            <img src="{{img}}" class="img-pd">
        </div>
        <div class="width-100">

            <form [formGroup]="searchForm" class="form-inline form-res-c" (ngSubmit)="onSubmit()">
                <div class="titulo-figma">
                    <strong>Registra tus datos personales</strong>
                </div>
                <div class="txt-inf-revision texto-figma">
                    Ingresa correctamente la información solicitada, revisa los datos antes de continuar con el proceso.
                </div>

                <div class="container container-personal-data">
                    <div class="row">
                        <div class="form-group col">
                            <label for="nombre">Nombres y apellidos</label>
                            <input [ngClass]="{'input-error-pd':searchForm.controls['nombre'].invalid &&
                            (searchForm.controls['nombre'].dirty || searchForm.controls['nombre'].touched)}" formControlName="nombre" type="txt" class="form-control input-pd" placeholder="Juan Perez" required>
                            <small *ngIf="searchForm.controls['nombre'].invalid &&
            (searchForm.controls['nombre'].dirty || searchForm.controls['nombre'].touched)"><img class="icon-error-pd" src="../../../assets/img/icon/icon-error.PNG">&nbsp;Ingresa un nombre válido</small>
                            <br>
                        </div>
                        <div class="form-group col formulario-32px-r">

                            <label for="rut">Rut</label>
                            <input [ngClass]="{'input-error-pd':((!rutValidateFormatK || !searchForm.controls['rut'].valid) &&
                            (searchForm.controls['rut'].dirty || searchForm.controls['rut'].touched))}" maxlength="10" formControlName="rut" type="txt" class="form-control input-pd" placeholder="111111111-1" (ngModelChange)="validateRut()" ngModel required>

                            <small *ngIf="((!rutValidateFormatK || !searchForm.controls['rut'].valid ) &&
            (searchForm.controls['rut'].dirty || searchForm.controls['rut'].touched))"><img class="icon-error-pd" src="../../../assets/img/icon/icon-error.PNG">&nbsp; Ingresa un rut válido</small>
                        </div>
                        <div class="form-group col formulario-32px">
                            <label for="correo">Correo electrónico</label>
                            <input [ngClass]="{'input-error-pd':searchForm.controls['correo'].invalid &&
                          (searchForm.controls['correo'].dirty || searchForm.controls['correo'].touched)}" formControlName="correo" type="email" class="form-control input-pd" placeholder="mail@mail.com" ng-required="true">
                            <small *ngIf="searchForm.controls['correo'].invalid &&
(searchForm.controls['correo'].dirty || searchForm.controls['correo'].touched)"><img class="icon-error-pd" src="../../../assets/img/icon/icon-error.PNG">&nbsp;Ingresa un mail válido</small>
                            <br>
                        </div>

                        <div class="form-group col formulario-32px">
                            <label>Teléfono</label>
                            <input [ngClass]="{'input-error-pd':searchForm.controls['telefono'].invalid &&
                            (searchForm.controls['telefono'].dirty || searchForm.controls['telefono'].touched)}" (ngModelChange)="validateTelefono()" maxlength="15" placeholder="+ 123 12345678" formControlName="telefono" class="form-control input-pd">

                            <small *ngIf="searchForm.controls['telefono'].invalid &&
            (searchForm.controls['telefono'].dirty || searchForm.controls['telefono'].touched)"><img class="icon-error-pd" src="../../../assets/img/icon/icon-error.PNG">&nbsp;Ingresa un número válido</small>

                        </div>
                    </div>
                </div>
                <br>
                <button class="center btn-pd-position" [ngClass]="{'btn-disable-primary':!searchForm.valid || !rutValidateFormatK, 'btn':searchForm.valid}" type="submit" [disabled]="!searchForm.valid || !rutValidateFormatK">Siguiente</button>

            </form>
        </div>
    </div>
</div>