.txt-inf-revision {
    position: relative;
    top: 4px !important;
}

.form-res-c {
    margin: auto;
    position: relative;
    top: 4px;
    width: 100%;
    max-width: 633px;
}

.container-personal-data {
    padding: 0px;
    top: 32px;
    position: relative;
}

.formulario-32px {
    position: relative;
    top: 7px !important;
}

.img-pd {
    top: -25px;
    width: 81px;
    height: 24px;
    right: 0px !important;
    position: absolute;
    right: -47px !important;
    padding: 0px;
}

.process {
    width: 95%;
    height: 9px;
    background-color: #E7EBF3;
    border-radius: 5px;
}

.porcent {
    position: relative;
    right: 12px;
    border-radius: 5px;
    width: 30%;
    height: 9px;
    background-color: #00C4B4;
}

.contenedor-pd {
    box-sizing: border-box;
    position: relative;
    width: 100% !important;
    max-width: 960px;
    height: 496px;
    top: 45px;
    /* Other/Light */
    background: #FFFFFF;
    /* Basic / 300 */
    border: 1px solid #E7EBF3;
    /* Box shadow/Default WP 3DS */
    box-shadow: 0px 16px 64px rgba(170, 174, 187, 0.2);
    border-radius: 16px;
}

.contenedor-pd-second {
    width: 100%;
    max-width: 700px;
    position: relative;
    top: 65px;
}

label {
    font-size: 12px;
}

.btn-pd-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.25px;
    width: 134px !important;
    height: 48px !important;
    border-radius: 4px;
    margin-top: 45px !important;
    position: relative;
}

@media(max-width:571px) {
    .formulario-32px-r {
        position: relative;
        top: -5px !important;
    }
    .formulario-32px {
        position: relative;
        top: 20px !important;
    }
}

@media(max-width:720px) {
    .contenedor-page {
        width: 100%;
        max-width: 9600px;
    }
    .img-pd {
        left: 0px !important;
        padding: 0px;
    }
    .contenedor-pd {
        /* Basic / 300 */
        border: none;
        box-shadow: none;
    }
}

@media(max-width:320px) {
    .contenedor-pd {
        top: 0px !important;
    }
    .btn-pd-position {
        width: 100% !important;
        top: 25px;
        margin: none;
    }
    .container-personal-data {
        height: 100%;
    }
    .img-pd {
        top: -55px !important;
    }
    .form-res-c {
        top: -10px;
    }
}

.input-pd {
    min-width: 250px;
}

small {
    font-size: 12px;
}

.icon-error-pd {
    width: 13px;
    height: 13px;
    top: -2px;
    position: relative;
}

.input-error-pd {
    border: #FF4B4B 2px solid !important;
}