<div style="position: relative; height: 80px; width: 100%; top: 40px">
    <div class="row">
        <div class="col">
            <img src="../../../assets/img/process-bar/User.svg">
            <div [ngClass]="{'bold-pb':imgIcon == 'personalData'}" style="font-size: 12px;">Datos personales</div>
        </div>
        <div class="col">
            <img *ngIf="imgIcon == 'personalData'" src="../../../assets/img/process-bar/Money.svg">
            <img *ngIf="imgIcon != 'personalData'" src="../../../assets/img/process-bar/Money-select.svg">
            <div [ngClass]="{'bold-pb':imgIcon == 'amountPayable'}" style="font-size: 12px;">Monto a suscribir</div>
        </div>
        <div style="width: 120px !important;right: 0px;">
            <img *ngIf="imgIcon != 'paymentModel'" src="../../../assets/img/process-bar/Check.svg">
            <img *ngIf="imgIcon == 'paymentModel'" src="../../../assets/img/process-bar/Check-select.svg">
            <div [ngClass]="{'bold-pb':imgIcon == 'paymentModel'}" style="font-size: 12px;">Medio de pago</div>
        </div>
    </div>
    <div class="bar">
        <div class="process" [ngClass]="{'process-pd':imgIcon == 'personalData',
        'process-2':imgIcon == 'amountPayable', 'process-3':imgIcon == 'paymentModel'}"></div>
    </div>
</div>