<div class="container-progress-bar">
    <div class="row tamano-progres-bar">
        <div class="col">
            <img src="../../../assets/img/process-bar/User.svg">
            <div [ngClass]="{'bold-pb':imgIcon == 'personalData'}" class="txt-progress-pb">Datos personales</div>
        </div>
        <div class="col">
            <img *ngIf="imgIcon == 'personalData'" src="../../../assets/img/process-bar/Money.svg">
            <img *ngIf="imgIcon != 'personalData'" src="../../../assets/img/process-bar/Money-select.svg">
            <div [ngClass]="{'bold-pb':imgIcon == 'amountPayable'}" class="txt-progress-pb">Monto a suscribir</div>
        </div>
        <!-- <div class="medio-pago-style">
            <img *ngIf="imgIcon != 'paymentModel'" src="../../../assets/img/process-bar/Check.svg">
            <img *ngIf="imgIcon == 'paymentModel'" src="../../../assets/img/process-bar/Check-select.svg">
            <div [ngClass]="{'bold-pb':imgIcon == 'paymentModel'}" class="txt-progress-pb">Medio de pago</div>
        </div> -->

        <div class="medio-pago-style">
            <img *ngIf="imgIcon != 'paymentModel' && imgIcon != 'appBankResponse'" src="../../../assets/img/process-bar/Check.svg">
            <img *ngIf="imgIcon == 'paymentModel' || imgIcon == 'appBankResponse'" src="../../../assets/img/process-bar/Check-select.svg">
            <div [ngClass]="{'bold-pb':imgIcon == 'paymentModel' || imgIcon == 'appBankResponse'}" style="font-size: 12px;">Medio de pago</div>
        </div> 
    <div class="bar">
        <div class="process" [ngClass]="{'process-pd':imgIcon == 'personalData', 'process-2':imgIcon == 'amountPayable', 'process-3':imgIcon == 'paymentModel', 'process-4':imgIcon == 'appBankResponse'}"></div>
    </div>
</div>