.bar {
    background: #E7EBF3;
    border-radius: 8px;
    position: relative;
    height: 8px;
    top: 3px;
    width: 100%;
}

.process {
    background: #00C4B4;
    border-radius: 8px;
    width: 0px;
    ;
    height: 8px;
}

.txt-progress-pb {
    font-size: 12px;
}

.container-progress-bar {
    position: relative;
    height: 80px;
    width: 100%;
    top: 40px
}

.medio-pago-style {
    width: 120px !important;
    right: 0px;
}

.process-pd {
    width: 10px !important;
}

.process-2 {
    width: 50% !important;
}

.process-3 {
    width: 96% !important;
}

.bold-pb {
    font-weight: bolder;
}

@media(max-width:388px) {
    .medio-pago-style {
        width: 33% !important;
    }
}