/* .img-pd {
    width: 81px;
    height: 24px;
    right: 0 !important;
    position: absolute;
} */


.img-pm {
    width: 81px;
    height: 24px;
    right: 0px;
    position: absolute;
}


.process {
    width: 95%;
    height: 9px;
    background-color: #E7EBF3;
    border-radius: 5px;
}

.process-4 {
    position: relative;
    right: 12px;
    border-radius: 5px;
    width: 30%;
    height: 9px;
    background-color: #00C4B4;
}



.contenedor-pd-second {
    width: 100%;
    max-width: 700px;
    position: relative;
    top: 40px;
}

.disabled-element {
    pointer-events: none;
}

label {
    font-size: 12px;
}

.btn-pd {
    width: 242px !important;
    height: 48px !important;
    background-color: #6B196B;
    border: 1px solid #6B196B !important;
    border-radius: 4px;
    color: white !important;
    /* margin-top: 45px !important; */
    position: relative;
}

@media(max-width:720px) {
    .contenedor-page {
        width: 100%;
        max-width: 9600px;
    }

    /* .img-pd {
        left: 0px !important;
        padding: 0px;
    } */

    .contenedor-pd {
        /* Basic / 300 */
        border: none;
    }
}

.input-pd {
    min-width: 250px;
}

small {
    font-size: 12px;
}

.icon-error-pd {
    width: 13px;
    height: 13px;
    top: -2px;
    position: relative;
}

.input-error-pd {
    border: #FF4B4B 2px solid !important;
}

.btn-pd:hover {
    background-color: #730397;
    border: white 1px solid !important;
    color: white !important;
}




.bd-example {
    padding: 1.5rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-width: 0.2rem !important;




    position: relative !important;
    padding: 1rem !important;
    margin: 1rem -15px 0 !important;
    border: solid #f7f7f9 !important;
    border-width: 0.2rem 0 0 !important;
}



.titulo-info {
    /* Monto suscrito */


    width: 280px;
    height: 24px;
    font-size: 14px;
    color: #2D3338;

    font-weight: bold;

}


/* .modal-content {
    width: 633px !important;
    height: 590px !important;
    left: calc(50% - 633px/2 + 0.5px) !important;
    top: calc(50% - 590px/2 - 7px) !important;
    border-radius: 8px !important;
}
*/
/* .title-experience {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;


    color: #2D3338;
} */

.face-img {
    width: 40px;
    height: 40px;
}


/*INICIO CONVERT IMG A RADIO*/
/* HIDE RADIO */
[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    /* outline: 2px solid #f00; */
}


/*FIN CONVERT IMG A RADIO*/

@media(min-width:420px) {

    .img-pm {
        right: -73px !important;
        padding: 0px;
    }

    .contenedor-pd {
        box-sizing: border-box;
        position: relative;
        /* width: 100% !important; */
        width: 960px !important;
        height: 754px !important;
        top: 32px;
        /* Other/Light */
        background: #FFFFFF;
        /* Basic / 300 */
        border: 1px solid #E7EBF3;
        /* Box shadow/Default WP 3DS */
        box-shadow: 0px 16px 64px rgba(170, 174, 187, 0.2);
        border-radius: 16px;
    }

    .btn-close {
        width: 24px;
        height: 24px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        float: right;
    }

    .div-btn-close {
        height: 24px;
    }

    /* ::ng-deep .myCustomModalClass .modal-body{
        padding-top: 24px !important;
    } */

    .tamano40-32 {
        height: 40px;
    }

    .tamano32-24 {
        height: 32px;
    }

    .tamano32-16 {
        height: 32px;
    }

    .tamano24 {
        height: 8px;
    }

    .tamano24-8 {
        height: 8px;
    }

    .tamano16 {
        height: 16px;
    }

    .tamano16-8 {
        height: 16px;
    }

    .tamano416 {
        height: 4px;
    }

    .tamano8-4 {
        height: 8px;
    }

    .title-experience {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }

    .space-emoji {
        width: 32px;
        height: 40px;
        float: left
    }

    .sub-title-experience {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #2D3338;
    }

    .table-response {
        margin-right: 0px;
        margin-left: 22px;
        width: 632px;
        height: 264px;
    }

    .table-table-response {
        border: white 9px solid;
        margin-bottom: 0px;
        width: 578px;
    }

    .td-table-response-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
        width: 280px !important;
        height: 48px !important;
    }

    .td-table-response {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-right: 0px;
        width: 280px !important;
        height: 48px !important;
    }

    /* .table-table-response {
        width: 632px;
        height: 264px;
        border: 1px solid #E7EBF3;
        border-radius: 4px;
    } */

    /* .div-table-table-response{
        width: 632px;
        height: 264px;
        border: 1px solid #E7EBF3;
        border-radius: 4px;
    }

    .tr-table-response{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;

        border: 1px solid #E7EBF3;

        width: 584px !important;
    }

    .td-table-response {
        height: 48px;
    }
 */


    .box-text-response {
        width: 632px;
        height: 48px;
        left: 404px;
        top: 733px;

    }

    .title-response {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        /* identical to box height, or 133% */

        text-align: center;
        letter-spacing: 0.25px;

        /* Grey / 300 Default */

        color: #2D3338;
    }

    .table-response {
        margin-right: 0px;
        margin-left: 22px;
    }

    ::ng-deep .modalClassEndedProcess .modal-dialog {
        max-width: 633px;
        max-height: 400px;

        /* Other/Light */

        background: #FFFFFF;
        border-radius: 8px;
    }

    .text-ended-process {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */

        text-align: center;
        letter-spacing: 0.25px;

        /* Grey / 300 Default */

        color: #2D3338;
    }

    .div-text-ended-process {
        width: 467px;
        height: 72px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .tittle-ended-process {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        /* identical to box height, or 160% */

        text-align: center;
        letter-spacing: 0.25px;

        /* Grey / 300 Default */

        color: #2D3338;
    }

    .div-tittle-thank-opinion {
        width: 467px;
        height: 32px;
    }

    .tittle-thank-opinion {
        width: 467px;
        height: 32pX;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #2D3338;
    }

    .text-thank-opinion {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #2D3338;
    }

    .div-text-thank-opinion {
        width: 467px !important;
        height: 72px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    ::ng-deep .modalClassThank .modal-content {
        width: 633px !important;
        height: 391px !important;
    }

    ::ng-deep .modalClassThank .modal-dialog {
        max-width: 633px !important;
        height: 391px !important;
    }

    ::ng-deep .myCustomModalClass .modal-dialog {
        /* max-width: 100px !important;
        max-height: 100px !important; */

        width: 633px !important;
        height: 590px !important;
        max-width: 100% !important;
    }

    ::ng-deep .myCustomModalClass .modal-content {
        width: 633px !important;
        height: 590px !important;
    }

    /* ::ng-deep .modalClassEndedProcess .modal-dialog {

        width: 633px !important;
        height: 400px !important;
    } */

    ::ng-deep .modalClassEndedProcess .modal-content {
        /* max-width: 100px !important;
        max-height: 100px !important; */

        width: 633px !important;
        height: 400px !important;
    }

    .desc-opinion {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #2D3338;
    }

    .div-desc-opinion {
        width: 466px !important;
        height: 72px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .btn-enviar-exp {
        width: 110px;
        height: 48px;
        background: #6B196B;
        border: 1px solid #6B196B;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #FFFFFF;

    }

    .btn-enviar-exp-disabled {
        width: 110px;
        height: 48px;
        background: #E7EBF3;
        border: 1px solid #E7EBF3;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #A0AFCA;
    }

    .text-area-exp {
        width: 469px;
        height: 105px;
        background: #FFFFFF;
        border: 1px solid #C9D0E4;
        border-radius: 4px;
    }

    .div-text-area-exp {
        width: 469px;
        height: 105px;
    }

    .btn-volver-al-inicio {
        width: 144px;
        height: 40px;
        background: #6B196B;
        border: 1px solid #6B196B;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #FFFFFF;
    }

    .img-terms {
        padding: 10px 10px 10px 0px;
    }

    .terms-conditions-content {
        position: relative;
        top: 50px;
        width: 100%;
        justify-content: center;
    }

    .terms-conditions-content {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* or 133% */
        display: flex;
        align-items: center;
        letter-spacing: -0.002em;
        /* Grey / 200 */
        color: #707382;
        padding: 16px 10px 16px 16px;
    }

    .div-title-experience {
        width: 466px;
        height: 32px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .div-sub-title-experience {
        width: 465px;
        height: 32px;
    }


}

@media(max-width:419px) {
    .btn-close {
        width: 16px;
        height: 16px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        float: right;
    }

    .div-btn-close {
        height: 18px;
    }

    /* .modal-body{
        padding-top: 16px!important;
    } */

    .tamano40-32 {
        height: 32px;
    }

    .tamano32-24 {
        height: 24px;
    }

    .tamano32-16 {
        height: 16px;
    }

    .tamano24-8 {
        height: 8px;
    }

    .tamano16-8 {
        height: 8px;
    }

    .tamano4-16 {
        height: 16px;
    }

    .tamano8-4 {
        height: 4px;
    }

    .div-title-experience {
        width: 240px;
        height: 48px;
        padding-right: 0px;
        padding-left: 0px;
    }


    .title-experience {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }

    .space-emoji {
        width: 8px;
        height: 40px;
        float: left
    }

    /* .desc-opinion {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #2D3338;
    } */

    .sub-title-experience {
        width: 240px;
        height: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #2D3338;
    }

    .div-sub-title-experience{
        width: 240px;
        height: 24px;
    }


    /* .td-table-response {
        height: 32px;
    } */

    .table-response {
        width: 271px;
        height: 208px;
    }

    .table-table-response {
        border: white 9px solid;
        margin-bottom: 0px;
        width: 271px;
    }

    .td-table-response-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #2D3338;

        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
        width: 127px !important;
        height: 32px !important;
    }

    .td-table-response {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #2D3338;

        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-right: 0px;
        width: 127px !important;
        height: 32px !important;
    }

    .box-text-response {
        width: 272px;
        height: 80px;
        left: 24px;
        top: 541px;
    }

    .contenedor-pd {
        /* Basic / 300 */
        border: none;
        box-shadow: none;
    }

    .title-response {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.25px;

        /* Grey / 300 Default */

        color: #2D3338;
    }

    ::ng-deep .modalClassEndedProcess .modal-dialog {
        max-width: 272px;
        max-height: 352px;

        /* Other/Light */

        background: #FFFFFF;
        border-radius: 8px;
    }

    .tittle-ended-process {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: 0.25px;

        /* Grey / 300 Default */

        color: #2D3338;
    }

    .text-ended-process {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* or 133% */

        text-align: center;
        letter-spacing: 0.25px;

        /* Grey / 300 Default */

        color: #2D3338;
    }

    ::ng-deep .myCustomModalClass .modal-dialog {
        /* max-width: 100px !important;
        max-height: 100px !important; */

        width: 272px !important;
        height: 504px !important;

    }

    ::ng-deep .myCustomModalClass .modal-content {
        width: 272px !important;
        height: 504px !important;
    }

    .img-terms {
        padding: 10px 10px 10px 0px;
    }

    .terms-conditions-content {
        position: relative;
        width: 272px;
        height: 64px;
    }

    .terms-conditions-content {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: -0.002em;
        color: #707382;
        padding: 16px 10px 16px 16px;
    }

    .tamano4-12 {
        height: 12px;
    }

    .text-area-exp {
        width: 240px;
        height: 104px;
        background: #FFFFFF;
        border: 1px solid #C9D0E4;
        border-radius: 4px;
    }

    .div-text-area-exp {
        width: 240px;
        height: 104px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .btn-enviar-exp {
        width: 240px;
        height: 40px;
        background: #6B196B;
        border: 1px solid #6B196B;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #FFFFFF;

    }

    .btn-enviar-exp-disabled {
        width: 240px;
        height: 40px;
        background: #E7EBF3;
        border: 1px solid #E7EBF3;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #A0AFCA;

    }

    .div-desc-opinion {
        width: 240px !important;
        height: 48px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .desc-opinion {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.25px;
        margin-bottom: 0px;
    }

}

#text-opinion {
    max-width: 469px;
    max-height: 105px;
    border: 1px solid #C9D0E4;
    border-radius: 4px;
    box-sizing: border-box;
}

.table-response {
    border-style: solid;
    border-radius: 4px;
    border: 1px solid #E7EBF3;
    font-size: 14px;
    max-width: 632px;
    max-height: 264px;
    left: 404px;
    top: 437px;
}