<div class="contenedor-pm center">

    <div class="contenedor-pm-second center">

        <div class="row">
            <img src="{{img}}" class="img-pm">
        </div>
        <br>
        <div>
            <div>
                <div style="font-size: 36px;font-weight: bold;">
                    Suscribe un medio de pago
                </div>
                <div>
                    Selecciona cualquier tipo de tarjeta de crédito.
                </div>
            </div>
        </div>

        <div class="row" style="position: relative; top: 32px;">
            <div class="col-4">
                <label style="font-size: 14px;font-weight: bold;">Añadir tarjeta</label>
                <img src="../../../assets/img/payment-model/Frontside.svg" class="max-width min-width" style="width: 200px;">
            </div>
            <div class="col-8">

                <label style="font-size: 14px;">Número tarjeta</label>

                <div class="input-group">
                    <span class="input-group-text"><img style="width: 25px;" src="{{imgCD}}"></span>
                    <input type="text" class="form-control width-100" [(ngModel)]="numberCD" (ngModelChange)="validateCD()" placeholder="XXXX XXXX XXXX XXXX " maxlength="16">

                </div>
                <br>
                <div *ngIf="validateTC" class="row">
                    <div class="col-6">
                        <label>Fecha de expiración</label>
                        <input type="text" class="form-control width-100" maxlength="5" [(ngModel)]="fechaE" placeholder="XX/XX" (ngModelChange)="validateFE()">
                    </div>
                    <div class="col-6">
                        <label>CVV</label>
                        <input type="password" class="form-control width-100" placeholder="***" maxlength="3" [(ngModel)]="cvv">
                    </div>
                </div>
            </div>

        </div>
        <div class="row center width-300px">
            <button (click)="inscribirTarjeta()" class="btn-pmo center" type="submit" [disabled]="fechaE.length < 5 || cvv.length < 3 || numberCD.length < 16">Inscribir</button>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-2" style="position: relative; left: 0; top: 0;">
                <img src="../../../assets/img/shield.svg" class="heaven">
                <img src="../../../assets/img/lock.svg" class="eye">
            </div>
            <label class="col-10">
            Transacción respaldada por Transbank. Revisa las <a href="#">condiciones del servicio</a>.
        </label>
        </div>
    </div>
</div>