<br><br><br>

<div class="loader">
    <img src="../../../assets/img/icon/load-icon.svg" alt="">
    <style>
        .loader {
            border: 10px solid #f3f3f3;
            border-radius: 50%;
            border-top: 10px solid white;
            border-left: 10px solid white;
            border-right: 10px solid white;
            border-bottom: 10px solid white;
            width: 100px;
            height: 100px;
            margin: 6px auto;
            display: flex;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</div>

<div class="container">


    <div style="width: 100%; height: 24x; top: 0px !important; text-align: center; font-size: 18px; position: relative; font-weight: bold;">Redirigiendo a tu banco</div>

    <div style="width: 100%;">
        <div class="center" style="width: 277px !important; height: 48px; font-size: 12px; text-align: center; top: 10px; position: relative;">
            Por favor no recargues ni cierres la pantalla para poder continuar con la transacción
        </div>
    </div>

</div>