<app-header></app-header>
<br><br><br><br><br>
<div class="center contenedor-page">
    <br>
    <div style="width: 100%;">
        <img class="center" style="width: 46px !important;" src="../../../assets/img/icon/close-circle.svg" alt="">
    </div>
    <div style="width: 100%; height: 24px; top: 10px; border-radius: nullpx; position: relative; text-align: center;font-weight: bold;">
        {{title}}</div>

    <div style="font-size: 12px; text-align: center; top: 10px; position: relative;">
        Por favor vuelve a ingresar los datos de tu tarjeta.</div>
    <div class="center" style="width: 177px; top: 40px; position: relative;">
        <button class="btn btn-pd" style="position: relative;width: 177px !important; font-size: 14px;">Intenta nuevamente</button>
    </div>
    <div style="text-align: center; position: relative; font-weight: bold; color: #6B196B; top:110px">
        Cancelar</div>
</div>