.container-header-wey-pay {
    width: 100%;
    height: 16px;
}

@media(max-width:320px) {
    .container-header-wey-pay {
        position: relative;
        top: -4px !important;
        height: 8px !important;
    }
}