button {
    border: white !important;
    padding: 5px;
    border-radius: 30px;
    width: 90px;
}

.process {
    width: 100%;
    height: 9px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
}

.porcent {
    position: relative;
    right: 12px;
    border-radius: 5px;
    width: 50%;
    height: 9px;
    background-color: rgb(99, 199, 166);
}

/* .form-check-input{
    background-color: #6B196B;
} */

.form-check-input:checked {
    background-color: #6B196B;
    border-color: #6B196B;
}

#text-fecha-limite {
    letter-spacing: 0.25px;

    color: #828EA5;
    font-size: 12px;
}