.img-pd {
    width: 81px;
    height: 24px;
    right: 0 !important;
    position: absolute;
}

.img-pm {
    width: 81px;
    height: 24px;
    right: 0px;
    position: absolute;
}

.text-template {
    font-size: 16px;
    top: 4px;
}

.container-second-c {
    padding: 0px;
    top: 32px;
    position: relative;
}

.top-32px {
    top: 32px;
}

.txt-footer {
    width: 13.13px;
    vertical-align: text-top;
}

.button-back-ap {
    color: #6B196B;
    padding: 15px;
    margin-left: 20px;
}

.txt-footer-container {
    background: #EBF6FF;
    border-radius: 4px;
    height: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.process {
    width: 95%;
    height: 9px;
    background-color: #E7EBF3;
    border-radius: 5px;
}

.porcent {
    position: relative;
    right: 12px;
    border-radius: 5px;
    width: 30%;
    height: 9px;
    background-color: #00C4B4;
}

.contenedor-pd {
    box-sizing: border-box;
    position: relative;
    width: 100% !important;
    max-width: 960px;
    /* height: 546px; */
    /* height: 504px; */
    /* height: 404px; */
    /* top: 32px; */
    /* Other/Light */
    background: #FFFFFF;
    /* Basic / 300 */
    border: 1px solid #E7EBF3;
    /* Box shadow/Default WP 3DS */
    box-shadow: 0px 16px 64px rgba(170, 174, 187, 0.2);
    border-radius: 16px;
}

.contenedor-pd-second {
    width: 100%;
    /* max-width: 700px; */
    max-width: 632px;
    position: relative;
    /* top: 40px; */
}

label {
    font-size: 12px;
}

@media(max-width:720px) {
    .contenedor-page {
        width: 100%;
        max-width: 9600px;
    }
    .img-pd {
        left: 0px !important;
        padding: 0px;
    }
    .contenedor-pd {
        /* Basic / 300 */
        border: none;
    }
}

.input-pd {
    min-width: 250px;
}

small {
    font-size: 12px;
}

.icon-error-pd {
    width: 13px;
    height: 13px;
    top: -2px;
    position: relative;
}

.input-error-pd {
    border: #FF4B4B 2px solid !important;
}

.btn-pd:hover {
    background-color: #730397;
    border: white 1px solid !important;
    color: white !important;
}


/*Inicio convert readio botton en botton*/

.button {
    float: left;
    margin: 0 auto 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.button label,
.button input {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.5em;
    width: 110px;
}


/* .bttn {
    position: absolute !important;
    width: 134px !important;
    height: 48px !important;
    background-color: white;
    border: 1px solid #6B196B !important;
    border-radius: 4px;
    color: black;
} */


/*Fin convert readio botton en botton*/


/* @media(max-width:450px) {
    .container {
        width: 100%;
    }
    h1 {
        font-size: 18px;
    }
    .btn-pmo {
        right: -10px !important;
        position: absolute !important;
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
        padding: 0px;
    }
    .btn-back {
        z-index: 100;
        top: 65px !important;
        position: absolute !important;
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
        padding: 0px;
    }
}


.btn-pmo {
    right: 10px;
    width: 100%;
    height: 48px !important;
    background-color: white;
    border: 1px solid #6B196B !important;
    border-radius: 4px;
    color: #730397 !important;
}

.btn-pmo:hover {
    background-color: #730397;
    border: white 1px solid !important;
    color: white !important;
} */

@media(min-width:420px) {
    /*clase para el height 404px, pantalla con un solo monto (PESOS)*/
    .contenedor-pd-h404 {
        height: 404px;
    }
    /*clase para el height 472px, pantalla monto digitado (PESOS)*/
    .contenedor-pd-h472 {
        height: 472px;
    }
    /*clase para el height 416px, pantalla varios montos (PESOS)*/
    .contenedor-pd-h416 {
        height: 416px;
    }
    /*clase para el height 506px, pantalla varios montos, seleccionando otro monto (PESOS)*/
    .contenedor-pd-h506 {
        height: 506px !important;
    }
    /*clase para el height 440px, pantalla varios montos (UF)*/
    .contenedor-pd-h440 {
        height: 440px;
    }
    /*clase para el height 528px, pantalla varios montos, seleccionando otro monto (UF)*/
    .contenedor-pd-h528 {
        height: 528px !important;
    }
    /*clase para el height 436px, pantalla selec tipo monto, sin seleccion*/
    .contenedor-pd-h436 {
        height: 436px;
    }
    /*clase para el height 504px, pantalla selec tipo monto, seleccion PESOS*/
    .contenedor-pd-h504 {
        height: 504px;
    }
    /*clase para el height 532px, pantalla selec tipo monto, seleccion UF*/
    .contenedor-pd-h532 {
        height: 532px;
    }
    /*clase para el height 592px, pantalla selec tipo monto, seleccion PESOS y otro monto*/
    .contenedor-pd-h592 {
        height: 592px !important;
    }
    /*clase para el height 620px, pantalla selec tipo monto, seleccion UF y otro monto*/
    .contenedor-pd-h620 {
        height: 620px !important;
    }
    .contenedor-pd {
        top: 32px;
    }
    .contenedor-pd-second {
        top: 40px;
    }
    .img-pm {
        right: -81px !important;
        padding: 0px;
    }
    .tamano20-24 {
        height: 20px;
    }
    .tamano13 {
        height: 13px;
    }
    .montoClassSeleccionadoPeso {
        width: 140px;
        height: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #FCFDFE;
    }
    .montoClassSeleccionadoUF {
        width: 140px;
        height: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #FCFDFE;
    }
    .text-tiempo {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #2D3338;
        display: flex;
        width: 533px;
        height: 16px;
    }
    .div-text-tiempo {
        width: 632px;
        height: 48px;
        background: #EBF6FF;
        border-radius: 4px;
        text-align: center;
        align-items: center;
        display: flex;
    }
    .div-aux-text-tiempo {
        width: 632px;
        height: 48px;
        text-align: center;
        align-items: center;
        display: flex;
        padding: 16px;
        gap: 8px;
    }
    .text-descripcion-digitar-monto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #707382;
    }
    input::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #828EA5;
    }
    .btn-pd-2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #FFFFFF !important;
        width: 134px !important;
        height: 48px !important;
        background-color: #730397;
        border: 1px solid #730397 !important;
        border-radius: 4px;
        margin-top: 1px;
        margin-left: 60px;
    }
    .btn-pd-disabled {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #A0AFCA !important;
        width: 134px !important;
        height: 48px !important;
        background-color: #E7EBF3;
        border: 1px solid #E7EBF3 !important;
        border-radius: 4px;
        margin-left: 60px;
        margin-top: 1px;
    }
    .btn-pd {
        width: 134px !important;
        height: 48px !important;
        background-color: white;
        border: 1px solid #E7EBF3 !important;
        border-radius: 4px;
        color: #730397 !important;
        /* margin-top: 45px !important; */
        position: relative;
    }
    .button input[type="radio"]:checked+label {
        background: #6B196B;
        color: white;
        border-radius: 100px;
        width: 140px;
        height: 32px;
    }
    .button input[type="radio"]+label {
        width: 140px;
        height: 32px;
        background: #F9FBFE;
        border: 1px solid #E7EBF3;
        border-radius: 100px;
    }
    .text-sub-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
        /* width: 272px;
        height: 64px; */
    }
    .text-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }
    .btn-back {
        width: 73px;
        height: 48px;
        margin-left: 0px !important;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #6B196B;
    }
    .opcionesMonto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }
    .select-tipo-monto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
        height: 48px;
    }
    option {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }
    .div-btn-mobil {
        display: none !important;
    }
    .select-monto-unico+label {
        background: #6B196B !important;
        color: white !important;
        border-radius: 100px !important;
    }
    .ingrese-cantidad {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
        height: 48px;
    }
    .ingrese-cantidad::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #828EA5;
    }
    .div-valor-dia-uf {
        width: 632px;
        height: 16px;
    }
    .valor-dia-uf {
        width: 164.16px;
        height: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #707382;
        position: absolute;
    }
}

@media(max-width:419px) {
    .img-pm {
        left: 0px !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .arriba-img-tamano {
        height: 20px;
    }
    .abajo-img-tamano {
        height: 16px;
    }
    .contenedor-pd {
        /* Basic / 300 */
        border: none;
        box-shadow: none;
        width: 320px;
    }
    .tamano20-24 {
        height: 24px;
    }
    .montoClassSeleccionadoPeso {
        width: 80px;
        height: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
    }
    .montoClassSeleccionadoUF {
        width: 80px;
        height: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #FFFFFF;
    }
    .text-tiempo {
        /* width: 216px !important;
        height: 48px !important; */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }
    .div-aux-text-tiempo {
        width: 216px !important;
        height: 48px !important;
    }
    .div-text-tiempo {
        width: 272px;
        height: 80px;
        background: #EBF6FF;
        border-radius: 4px;
    }
    .text-descripcion-digitar-monto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #707382;
    }
    input::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #828EA5;
    }
    .btn-pd-2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #FFFFFF !important;
        width: 272px;
        height: 48px;
        background-color: #730397;
        border: 1px solid #730397 !important;
    }
    .btn-pd-disabled {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #A0AFCA;
        width: 272px;
        height: 48px;
        background: #E7EBF3;
        border: 1px solid #E7EBF3;
        border-radius: 4px;
    }
    .btn-pd {
        width: 81px;
        height: 40px;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #6B196B;
    }
    .button input[type="radio"]:checked+label {
        background: #6B196B;
        color: white;
        border-radius: 100px;
        width: 80px;
        height: 32px;
    }
    .button input[type="radio"]+label {
        width: 80px;
        height: 32px;
        background: #F9FBFE;
        border: 1px solid #E7EBF3;
        border-radius: 100px;
    }
    .montoClassSeleccionadoPesoOtroMonto+label {
        width: 100px !important;
    }
    .montoClassSeleccionadoPesoOtroMonto:checked+label {
        width: 100px !important;
    }
    .montoClassSeleccionadoUFOtroMonto+label {
        width: 100px !important;
    }
    .montoClassSeleccionadoUFOtroMonto:checked+label {
        width: 100px !important;
    }
    .text-sub-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }
    .text-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.25px;
        color: #202830;
    }
    .opcionesMonto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }
    .select-tipo-monto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
        width: 272px;
        height: 48px;
    }
    option {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
    }
    .btn-monto {
        height: 32px !important;
        width: 80px !important;
    }
    .btn-monto-otro {
        height: 32px !important;
        width: 100px !important;
        margin-top: 16px !important;
    }
    .div-text-tiempo {
        display: inline-flex;
        /* display: block; */
    }
    .div-btn-desktop {
        display: none !important;
    }
    .div-btn-volver-mobile {
        width: 272px;
        height: 40px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .btn-volver-mobile {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #6B196B;
    }
    .select-monto-unico+label {
        background: #6B196B !important;
        color: white !important;
        border-radius: 100px !important;
    }
    .ingrese-cantidad {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #2D3338;
        width: 272px;
        height: 48px;
    }
    .ingrese-cantidad::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #828EA5;
    }
    .div-valor-dia-uf {
        width: 272px;
        height: 16px;
    }
    .valor-dia-uf {
        width: 163px;
        height: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #707382;
        position: absolute;
    }
}