<div class="tamano13"></div>
<div class="contenedor-pd center" 
    [ngClass]="{
    'contenedor-pd-h404': (montoPesos.length == 1 &&  monedaPeso == '1' && monedaUF == '0') || (montoUF.length == 1 &&  monedaPeso == '0' && monedaUF == '1'), 
    'contenedor-pd-h416': montoPesos.length > 1 &&  monedaPeso == '1' && monedaUF == '0', 
    'contenedor-pd-h506': montoPesos.length > 1 &&  monedaPeso == '1' && monedaUF == '0' && tipoMonto == 'otro-monto', 
    'contenedor-pd-h472': (montoPesos.length == 0 &&  monedaPeso == '1' && monedaUF == '0') || (montoUF.length == 0 &&  monedaPeso == '0' && monedaUF == '1'),
    'contenedor-pd-h440': montoUF.length > 1 &&  monedaUF == '1' &&  monedaPeso == '0',
    'contenedor-pd-h528': montoUF.length > 1 &&  monedaUF == '1' &&  monedaPeso == '0' && tipoMonto == 'otro-monto',
    'contenedor-pd-h436': montoPesos.length > 1 &&  monedaPeso == '1' && montoUF.length > 1 &&  monedaUF == '1' && tipoMonedaSeleccionada == '',
    'contenedor-pd-h504': montoPesos.length > 1 &&  monedaPeso == '1' && montoUF.length > 1 &&  monedaUF == '1' && tipoMonedaSeleccionada == 'PESOS',
    'contenedor-pd-h532': montoPesos.length > 1 &&  monedaPeso == '1' && montoUF.length > 1 &&  monedaUF == '1' && tipoMonedaSeleccionada == 'UF',
    'contenedor-pd-h592': montoPesos.length > 1 &&  monedaPeso == '1' && montoUF.length > 1 &&  monedaUF == '1' && tipoMonedaSeleccionada == 'PESOS' && tipoMonto == 'otro-monto',
    'contenedor-pd-h620': montoPesos.length > 1 &&  monedaPeso == '1' && montoUF.length > 1 &&  monedaUF == '1' && tipoMonedaSeleccionada == 'UF' && tipoMonto == 'otro-monto'
}"
>

    <div class="contenedor-pd-second center">
        <div class="arriba-img-tamano"></div>
        <div class="row">
            <img src="{{img}}" class="img-pm">
        </div>
        <div class="abajo-img-tamano"></div>
        <div style="width:100%">
            <br>
            <form [formGroup]="searchForm" class="form-inline" (ngSubmit)="onSubmit()">
                <div>
                    <span
                        *ngIf="(montoPesos.length == 1 &&  monedaPeso == '1') || (montoUF.length == 1 && monedaUF == '1')"
                        class="text-title">Monto a suscribir</span>
                    <span
                        *ngIf="(montoPesos.length == 0 && montoUF.length == 0  ) && (monedaPeso == '1' || monedaUF == '1')"
                        class="text-title">Monto a suscribir</span>
                    <span
                        *ngIf="(montoPesos.length > 1 &&  monedaPeso == '1') || (montoUF.length > 1 && monedaUF == '1')"
                        class="text-title">Selecciona monto a suscribir</span>
                </div>
                <ng-container
                    *ngIf="(montoPesos.length == 1 &&  monedaPeso == '1') || (montoUF.length == 1 && monedaUF == '1'); then if1">
                </ng-container>
                <ng-container
                    *ngIf="(montoPesos.length == 0 && montoUF.length == 0) && (monedaPeso == '1' || monedaUF == '1'); then if2">
                </ng-container>
                <ng-container
                    *ngIf="(montoPesos.length > 1 && monedaPeso == '1') || (montoUF.length > 1 && monedaUF == '1'); then if3">
                </ng-container>

                <!-- If Statement -->
                <ng-template #if1>
                    <div class="text-sub-title">
                        Conoce la cantidad a pagar y su frecuencia
                    </div>
                </ng-template>
                <!-- If Else Statement -->
                <ng-template #if2>
                    <div class="text-sub-title">
                        Define el monto máximo a pagar, la cantidad estará sujeta al consumo mensual.
                    </div>
                </ng-template>
                <!-- Else Statement -->
                <ng-template #if3>
                    <div class="text-sub-title">
                        Define la cantidad a pagar y conoce su frecuencia.
                    </div>
                </ng-template>
                <div style="height: 32px;"></div>
                <div class="container" style="padding: 0px; position: relative;">
                    <!-- <div class=""> -->
                    <div class="row" *ngIf="montoPesos.length > 0 || montoUF.length > 0">

                        <!-- inicio codigo monnto -->
                        <div class="" *ngIf="monedaPeso == '1' && monedaUF == '1'">
                            <div class="col-12">
                                <span class="opcionesMonto">Opciones de monto</span>
                                <select class="select-tipo-monto form-select" formControlName="selecionarMonto"
                                    (change)="onChange( $event )">
                                    <option value="" selected>Selecciona</option>
                                    <option value="PESOS">Monto fijo en $</option>
                                    <option value="UF">Monto fijo en UF</option>
                                </select>
                            </div>
                        </div>
                        <div class="row"
                            *ngIf="(monedaPeso == '1' && monedaUF == '0') || (tipoMonedaSeleccionada == 'PESOS')">
                            <div *ngIf="monedaPeso == '1' && monedaUF == '1'" style="height: 20px;"></div>
                            <div class="btn-monto button col-md-3" *ngFor="let valor of montoPesos; let i = index">
                                <input type="radio" (change)="valorSeleccionado( $event )"
                                    class="montoClassSeleccionadoPeso" formControlName="montoSeleccionadoPeso" 
                                    [ngClass]="{'select-monto-unico':montoPesos.length==1}" 
                                    [checked]="{'true':montoPesos.length==1}" 
                                    name="montoSeleccionadoPeso" id="{{i}}" [value]="valor" checked="true" />
                                <label class="bttn btn-default form-control" for="{{i}}">${{valor}}</label>
                            </div>
                            <div class="btn-monto-otro button col-md-3" *ngIf="montoPesos.length > 1">
                                <input type="radio" (change)="valorSeleccionado( $event )"
                                    class="montoClassSeleccionadoPesoOtroMonto" formControlName="montoSeleccionadoPeso"
                                    name="montoSeleccionadoPeso" value="otro-monto" id="{{montoPesos.length}}" />
                                <label class="bttn btn-default form-control" for="{{montoPesos.length}}">Otro
                                    monto</label>
                            </div>
                        </div>

                        <div class="row"
                            *ngIf="(monedaPeso == '0' && monedaUF == '1') || (tipoMonedaSeleccionada == 'UF')">
                            <div *ngIf="monedaPeso == '1' && monedaUF == '1'" style="height: 20px;"></div>
                            <div class="btn-monto button col-3" *ngFor="let valor of montoUF; let i = index">
                                <input type="radio" (change)="valorSeleccionado( $event )"
                                    class="montoClassSeleccionadoUF" formControlName="montoSeleccionadoUF"
                                    [ngClass]="{'select-monto-unico':montoUF.length==1}"
                                    name="montoSeleccionadoUF" id="{{i*5}}" [value]="valor" />
                                <label class="bttn btn-default form-control" for="{{i*5}}">{{valor}} UF</label>
                            </div>
                            <div class="btn-monto-otro button col-3" *ngIf="montoUF.length > 1">
                                <input type="radio" id="{{montoUF.length*5}}" (change)="valorSeleccionado( $event )"
                                    class="montoClassSeleccionadoUFOtroMonto" formControlName="montoSeleccionadoUF"
                                    name="montoSeleccionadoUF" value="otro-monto" />
                                <label class="bttn btn-default form-control" for="{{montoUF.length*5}}">Otro
                                    monto</label>
                            </div>
                            <div style="height: 8px;"></div>
                            <div class="div-valor-dia-uf">
                                <span class="valor-dia-uf">Valor de la UF al día: $32.277</span>
                            </div>
                        </div>
                        <!-- fin codigo monnto -->
                        <br>
                    </div>

                    <div class="row">
                        <div class="col-12"
                            *ngIf="tipoMonto == 'otro-monto' || (montoPesos.length == 0 && montoUF.length == 0)">
                            <label
                                *ngIf="(montoPesos.length == 0 && montoUF.length == 0) && (monedaPeso == '1' || monedaUF == '1')"
                                for="">Monto máximo a
                                pagar</label>
                            <div *ngIf="montoPesos.length > 0 || montoUF.length > 0" style="height: 20px;"></div>
                            <input type="number" [ngClass]="{'input-error-pd':(validateAmountPesos=='1')}"
                                class="form-control ingrese-cantidad" placeholder="Ingrese una cantidad"
                                formControlName="montoDigitadoPeso" name="monto-ingresado-peso"
                                *ngIf="(monedaPeso == '1' && monedaUF == '0') || (tipoMonedaSeleccionada == 'PESOS')"
                                (ngModelChange)="validateEnteredAmountPesos()" appFormatNumber>
                            <input type="number" [ngClass]="{'input-error-pd':(validateAmountUF=='1')}"
                                class="form-control ingrese-cantidad" placeholder="Ingrese una cantidad"
                                formControlName="montoDigitadoUF" name="monto-ingresado-uf"
                                *ngIf="(monedaPeso == '0' && monedaUF == '1') || (tipoMonedaSeleccionada == 'UF')"
                                (ngModelChange)="validateEnteredAmountUF()">

                            <div *ngIf="monedaPeso == '1' && monedaUF == '1'">
                                <div *ngIf="tipoMonedaSeleccionada == 'PESOS'">
                                    <span *ngIf="validateAmountPesos=='0'" class="text-descripcion-digitar-monto">El
                                        monto máximo es de
                                        ${{montoMaximoPeso | number}}</span>
                                    <small *ngIf="validateAmountPesos=='1'"><img class="icon-error-pd"
                                            src="../../../assets/img/icon/icon-error.PNG">&nbsp; El monto máximo es
                                        de
                                        ${{montoMaximoPeso | number}}</small>
                                </div>
                                <div *ngIf="tipoMonedaSeleccionada == 'UF'">
                                    <span *ngIf="validateAmountUF=='0'" class="text-descripcion-digitar-monto">El
                                        monto máximo es de
                                        {{montoMaximoUF | number}} UF</span>
                                    <small *ngIf="validateAmountUF=='1'"><img class="icon-error-pd"
                                            src="../../../assets/img/icon/icon-error.PNG">&nbsp; El monto máximo es
                                        de
                                        {{montoMaximoUF | number}} UF</small>
                                </div>
                            </div>
                            <div *ngIf="monedaPeso == '1' && monedaUF == '0'">
                                <span *ngIf="validateAmountPesos=='0'" class="text-descripcion-digitar-monto">El
                                    monto máximo es de
                                    ${{montoMaximoPeso | number}}</span>
                                <small *ngIf="validateAmountPesos=='1'"><img class="icon-error-pd"
                                        src="../../../assets/img/icon/icon-error.PNG">&nbsp; El monto máximo es de
                                    ${{montoMaximoPeso | number}}</small>
                            </div>
                            <div *ngIf="monedaPeso == '0' && monedaUF == '1'">
                                <span *ngIf="validateAmountUF=='0'" class="text-descripcion-digitar-monto">El monto
                                    máximo es de {{montoMaximoUF |
                                    number}} UF</span>
                                <small *ngIf="validateAmountUF=='1'"><img class="icon-error-pd"
                                        src="../../../assets/img/icon/icon-error.PNG">&nbsp; El monto máximo es de
                                    {{montoMaximoUF |
                                    number}} UF</small>
                            </div>
                        </div>
                    </div>
                    <div class="tamano20-24"></div>
                    <div class="row justify-content-center">
                        <div class="div-text-tiempo">
                            <div class="div-aux-text-tiempo center">
                                <span class="text-tiempo"><img src="../../../assets/img/Icon.svg"
                                        style="width: 13.13px;vertical-align: text-top;">&nbsp;
                                    El monto seleccionado para la suscripción se cargará mensualmente de manera
                                    indefinida.</span>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div style="height: 40px;"></div>
                <div class="row justify-content-center div-btn-desktop">
                    <div class="col-md-4" style="padding-left: 0px; display: flex;
                    align-items: center;">
                        <button class="form-control btn-pd"
                            class="btn-back " type="submit " (click)="volver()">< Volver</button>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <!-- BTN PARA DESKTOP -->
                        <!-- VALIDACION PARA PESOS -->
                        <button *ngIf="(monedaPeso == '1' && monedaUF == '0' && seleccionMonto=='0' && (montoPesos.length > 1 || montoPesos.length == 0))" class="  btn-pd-disabled" disabled>Siguiente</button>
                        <button *ngIf="monedaPeso == '1' && monedaUF == '0' && (seleccionMonto=='1'  || montoPesos.length == 1)" class="  btn-pd-2"
                            type="submit">Siguiente</button>

                            <!-- VALIDACION PARA UF -->
                        <button *ngIf="(monedaPeso == '0' && monedaUF == '1' && seleccionMonto=='0' && (montoUF.length > 1 || montoUF.length == 0))" class="  btn-pd-disabled" disabled>Siguiente</button>
                        <button *ngIf="monedaPeso == '0' && monedaUF == '1' && (seleccionMonto=='1'  || montoUF.length == 1)" class="  btn-pd-2"
                            type="submit">Siguiente</button>

                            <!-- VALIDACION PARA PESOS Y UF -->
                        <button *ngIf="(monedaPeso == '1' && monedaUF == '1' && seleccionMonto=='0' && (montoPesos.length > 1 || montoPesos.length == 0))" class="  btn-pd-disabled" disabled>Siguiente</button>
                        <button *ngIf="monedaPeso == '1' && monedaUF == '1' && (seleccionMonto=='1'  || montoPesos.length == 1)" class="  btn-pd-2"
                            type="submit">Siguiente</button>
                            
                    </div>
                </div>

                <div class="row justify-content-center div-btn-mobil">
                    <div class="col-md-12">
                        <!-- <button *ngIf="(seleccionMonto=='0' && montoPesos.length > 1) || (seleccionMonto=='0' && montoDigitadoPeso?.value == '') || (seleccionMonto=='0' && montoDigitadoPeso?.value > montoMaximoPeso)" class="  btn-pd-disabled" disabled>Siguiente</button>
                        <button *ngIf="seleccionMonto=='1'  || montoPesos.length == 1" class="  btn-pd-2"
                            type="submit">Siguiente</button> -->
                            <!-- BTN PARA MOBILE -->
                        <!-- VALIDACION PARA PESOS -->
                        <button *ngIf="(monedaPeso == '1' && monedaUF == '0' && seleccionMonto=='0' && (montoPesos.length > 1 || montoPesos.length == 0))" class="  btn-pd-disabled" disabled>Siguiente</button>
                        <button *ngIf="monedaPeso == '1' && monedaUF == '0' && (seleccionMonto=='1'  || montoPesos.length == 1)" class="  btn-pd-2"
                            type="submit">Siguiente</button>

                        <!-- VALIDACION PARA UF -->
                        <button *ngIf="(monedaPeso == '0' && monedaUF == '1' && seleccionMonto=='0' && (montoUF.length > 1 || montoUF.length == 0))" class="  btn-pd-disabled" disabled>Siguiente</button>
                        <button *ngIf="monedaPeso == '0' && monedaUF == '1' && (seleccionMonto=='1'  || montoUF.length == 1)" class="  btn-pd-2"
                            type="submit">Siguiente</button>

                        <!-- VALIDACION PARA PESOS Y UF -->
                        <button *ngIf="(monedaPeso == '1' && monedaUF == '1' && seleccionMonto=='0' && (montoPesos.length > 1 || montoPesos.length == 0))" class="  btn-pd-disabled" disabled>Siguiente</button>
                        <button *ngIf="monedaPeso == '1' && monedaUF == '1' && (seleccionMonto=='1'  || montoPesos.length == 1)" class="  btn-pd-2"
                            type="submit">Siguiente</button>
                    </div>
                    <div style="height: 4px;"></div>
                    <div class="text-center div-btn-volver-mobile">
                        <button class="form-control btn-volver-mobile btn-back"
                            type="submit " (click)="volver()">< Volver</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>