.width-100 {
    width: 100%;
    ;
}

.width-300px {
    width: 300px;
    ;
}

.max-width {
    max-width: 350px !important;
}

.min-width {
    min-width: 150px !important;
}

.min-width-170 {
    min-width: 220px !important;
}

.width-50 {
    width: 50%;
    ;
}

.width-80 {
    width: 80%;
    ;
}

.width-30 {
    width: 30%;
    ;
}

.width-20 {
    width: 20%;
    ;
}

.top-absolute-0 {
    position: static;
    top: 0px;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.box-empty-25 {
    width: 100%;
    height: 25px;
    ;
}

.box-empty-10 {
    width: 100%;
    height: 10px;
    ;
}

.box-empty-50 {
    width: 100%;
    height: 50px;
    ;
}

.btn {
    width: 134px !important;
    height: 48px !important;
    background-color: #730397;
    border: white 1px solid !important;
    color: white !important;
    border-radius: 4px;
}

.btn:hover {
    background-color: #730397;
    border: white 1px solid !important;
    color: white !important;
}

small {
    color: rgb(199, 0, 0);
}

.btn-back {
    border: none;
    background-color: white;
    color: #730397 !important;
}

.font-size-34px {
    font-size: 34px;
}

.btn-disable-primary {
    background: #E7EBF3 !important;
    border: 1px solid #E7EBF3 !important;
    color: #A0AFCA !important;
    ;
}


/** Definicion de estilos por pantallas */

.titulo-figma {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.25px;
    color: #202830;
}

.titulo-figma-on {
    text-align: center !important;
}

.texto-figma {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.25px;
    /* Grey / 300 Default */
    color: #2D3338;
}

.texto-figma-on {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #2D3338;
    text-align: center;
}

@media(max-width:1440px) {
    .titulo-figma {
        font-size: 36px;
        line-height: 48px;
    }
    .texto-figma-on {
        font-size: 18px;
        line-height: 24px;
    }
}

@media(min-width:551px) {
    .cdv {
        margin: auto;
        text-align: center;
        width: 100% !important;
        max-width: 160px !important;
        height: 48px !important;
        letter-spacing: 0.25px !important;
        line-height: 20px !important;
        font-size: 18px !important;
    }
}

@media(max-width:720px) {
    .titulo-figma {
        font-size: 24px !important;
        line-height: 32px;
    }
}

@media(max-width:320px) {
    .titulo-figma {
        font-size: 20px !important;
    }
    .texto-figma-on {
        font-size: 14px;
        line-height: 24px;
    }
    .texto-figma {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        letter-spacing: 0.25px;
        /* Grey / 300 Default */
        color: #2D3338;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
}