.width-100 {
    width: 100%;
    ;
}

.width-300px {
    width: 300px;
    ;
}

.max-width {
    max-width: 350px !important;
}

.min-width {
    min-width: 150px !important;
}

.min-width-170 {
    min-width: 220px !important;
}

.width-50 {
    width: 50%;
    ;
}

.width-80 {
    width: 80%;
    ;
}

.width-30 {
    width: 30%;
    ;
}

.width-20 {
    width: 20%;
    ;
}

.top-absolute-0 {
    position: static;
    top: 0px;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.box-empty-25 {
    width: 100%;
    height: 25px;
    ;
}

.box-empty-10 {
    width: 100%;
    height: 10px;
    ;
}

.box-empty-50 {
    width: 100%;
    height: 50px;
    ;
}

.btn {
    position: absolute !important;
    width: 134px !important;
    height: 48px !important;
    background-color: white;
    border: 1px solid #6B196B !important;
    border-radius: 4px;
    color: #730397 !important;
}

.btn:hover {
    background-color: #730397;
    border: white 1px solid !important;
    color: white !important;
}

small {
    color: rgb(199, 0, 0);
}