<div class="contenedor-dash center">

    <div style="width: 250px " class="center">
        <img src="{{imgSecond}}" class="img">
    </div>
    <div class="title ">
        {{title}}
    </div>
    <div class="text-p center">
        {{content}}
    </div>
    <div class="content-selecccion center">
        <div class="row">
            <div class="circle-dash" [ngClass]="{'i-primary':cont==1}"></div>
            <div class="circle-dash" [ngClass]="{'i-primary':cont==2}"></div>
        </div>
    </div>
    <div style="width: 134px !important;" class="center">
        <button type="button" class="btn" (click)="nextpresentation()">{{siguiente}}</button>
    </div>
    <div class="box-empty-25"></div>

</div>