<img src="../../../assets/img/header-img.PNG" class="width-100 top-absolute-0">
<div class="container">
    <div class="box-empty-25"></div>
    <div class="row">
        <img src="{{imgFirst}}" class="width-20 center max-width min-width">
    </div>
    <div class="box-empty-50"></div>
    <div class="row">
        <img src="{{imgSecond}}" class="width-50 center max-width min-width-170">
    </div>
    <div class="box-empty-50"></div>
    <div class="row title center">
        <h1>{{title}}</h1>
    </div>
    <div class="box-empty-25"></div>
    <div class="row content center ">
        <p class="text-p center ">{{content}}</p>
    </div>
    <div class="box-empty-50"></div>
    <div class="row center content">
        <div class="center">
            <i class="bi-circle-fill" [ngClass]="{'i-primary':cont==1}"></i>
            <i class="bi-circle-fill" [ngClass]="{'i-primary':cont==2}"></i>
            <i class="bi-circle-fill" [ngClass]="{'i-primary':cont==3}"></i>
            <i class="bi-circle-fill" [ngClass]="{'i-primary':cont==4}"></i>
        </div>
    </div>
    <div class="box-empty-25"></div>
    <div class="row center width-300px">
        <div class="row ">
            <button type="button" class="btn center" (click)="nextpresentation()">{{siguiente}}</button>
        </div>
    </div>
    <div class="box-empty-25"></div>

</div>